* {
    box-sizing: border-box;
 
}
.wilson{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: orangered;
    padding: 20px;
    width: 50%;
    
    
}

#display{
    width: 100%;
}

#shonta{
    width: 10%;
    color: brown;
}

#length{
    display: inline-block;
    width: 100x;
}



.containers{
    font-family: cursive;
    text-decoration: none;
    color: red;
    font-size: larger;
    text-align: center;
    text-emphasis: none;
}
